/**************************** Table of Contents ********************************
/*	1. General tags
/*	2. Layout
/*  3. Main page
/******************************************************************************/

/*	1. General tags */
html, body {
    background: #fff;
    color: #000;
    font-size: 12pt;
    font-family: Arial,Helvetica,Garuda,sans-serif;
}

strong {
    font-weight: bold;
}

.ask_box {
    position: absolute;
    top: 30%;
    left: 20%;
    background: #EEE;
    padding: 2em;
    width: 40em;
    display: none;
}
    .ask_box #js_name {
        width: 20em;
    }
    .ask_box .f_row {
        margin: 1em 0 1em 0;
    }
    .ask_box .save {
        width: 7em;
        margin: 2.5em auto 0 auto;
        display: block;
    }

/*	2. Layout */
#layout_main {
    width: 800px;

    margin: 0 auto;
}

#layout_header {
    margin: 10px 0;
    overflow: hidden;
}
    #layout_header .info {
        float: right;
        margin: 30px;
    }
    #layout_header .logo {
        width: 200px;
        height: 71px;

        display: inline-block;
        vertical-align: middle;

        background: transparent url(../imgs/logo.png) no-repeat 0 0;
    }
#layout_content {
    width: 100%;
    overflow: hidden;
}
#layout_footer {
    margin: 4em 0 10px 0;
    text-align: center;
    font-size: 70%;
}

/*  3. Main page */
.playlist_wrapper {
    float: right;
    width: 370px;
}
    .ajax_loader {
        margin: 5em auto;
    }
.ajax_loader {
    background: transparent url(/imgs/ajax-loader.gif) no-repeat 0 0;
    width: 16px;
    height: 16px;
}

.player_wrapper {
    float: left;
}

#now_playing {
    width: 400px;
    position: relative;
    float: left;
}
    #now_playing .progress {
        background: #9CEBFB;
        height: 90%;
        position: absolute;
        top: 0;
    }
    
    #now_playing .track {
        position: relative;
        z-index: 10;        
    }
    
    #now_playing .duration {
        position: relative;
        z-index: 10;
        float: right;
    }

.playlist {
    display: none;
    width: 370px;
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    float: right;

    line-height: 32px;
}
    .playlist .even {
        background: #f5f5f5;
    }
        .playlist .even .track q {
            background-image: url(../imgs/fade_to_bg_even.png);
        }
    .playlist .odd {
    }
    .playlist .playing {
        background: #dddddd;
    }
        .playlist .playing .progress {
            display: block;
        }
        .playlist .playing .play_pause {
            width: 26px;
            background-image: url(../imgs/btn_pause.png);
        }
            .playlist .playing .play_pause:hover {
                background-image: url(../imgs/btn_pause_hover.png);
            }
    .playlist .track {
        width: 230px;
        margin: 0 0 0 6px;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        vertical-align: middle;
        position: relative;
    }
        .playlist .track q {
            width: 16px;
            height: 32px;
            position: absolute;
            right: 0;
            vertical-align: middle;
            background: transparent url(../imgs/fade_to_bg.png) no-repeat 0 0;
        }
    .playlist .duration {
        margin: 0 6px 0 0;
        float: right;
        color: #5b444c;
    }
    .playlist .progress {
        width: 100%;
        height: 4px;
        position: absolute;
        left: 0;
        bottom: 0;
        display: none;
        background: #aaa;
    }
        .playlist .progress span {
            height: 4px;
            display: block;
            background: #777;
        }

    .playlist .control {
        height: 24px;
        display: inline-block;
        background: transparent none no-repeat 0 0;
        cursor: pointer;
        vertical-align: middle;
    }
    .playlist .play_pause {
        width: 26px;
        background-image: url(../imgs/btn_play.png);
    }
        .playlist .play_pause:hover {
            background-image: url(../imgs/btn_play_hover.png);
        }
    .playlist .delete {
        width: 25px;
        margin: 4px 0 0 0;
        background-image: url(../imgs/btn_delete.png);
        float: right;
    }
        .playlist .delete:hover, .playlist .delete.voted {
            background-image: url(../imgs/btn_delete_hover.png);
        }

.upload_controls {
    margin: 368px 0 0 0;
}
    .upload_controls .upload,
    .upload_controls #btn_uploadUploader {
        width: 108px;
        height: 32px;

        display: inline-block;

        background: transparent url(../imgs/btn_upload.png) no-repeat 0 0;
    }
    .upload_controls #btn_uploadUploader {
        margin: 0 -1px 0 0;
    }
        .upload_controls .upload:hover {
            background-image: url(../imgs/btn_upload_hover.png);
        }
    .upload_controls .rec {
        width: 46px;
        height: 32px;

        display: inline-block;

        background: transparent url(../imgs/btn_rec.png) no-repeat 0 0;
    }
        .upload_controls .rec:hover {
            background-image: url(../imgs/btn_rec_hover.png);
        }

    .upload_controls .record_progress {
        width: 154px;
        height: 8px;
        background: #aaa;
        position: absolute;
        display: none;
    }
        .upload_controls .record_progress div {
            width: 0;
            height: 8px;
            background: #777;
        }

.uploadifyQueue {
    position: absolute;
}

.tweetus {
    margin: 1em auto 0 auto;
    width: 300px;
    display: block;
}
.tweets {
    width: 40em;
    font-size: 80%;
    margin: 1em auto 0 auto;
}
    .tweets li {
        clear: both;
        margin: 0 0 2em 0;
    }
        .tweets abbr {
            display: block;
            color: #AAA;
            font-style: italic;
        }
        .tweets img {
            width: 32px;
            height: 32px;
            float: left;
            margin: 0 0.5em 2em 0;
        }
        .tweets a {
            color: #AAA;
        }
        .tweets a:hover {
            color: #666;
        }
