<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />

    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="/css/reset.css" type="text/css" />
    <link rel="stylesheet" href="/css/base.css" type="text/css" />
    <link rel="stylesheet" href="/css/print.css" type="text/css" />

    <script type="text/javascript" src="/js/jquery-1.4.2.js"></script>
    <script type="text/javascript" src="/js/base.js"></script>

    <title>{%block title %}Voices in the head{% endblock %}</title>
</head>
<body>
    <div id="layout_main">
        <div id="layout_header"><a href="/" class="logo"></a></div>

        <div id="layout_content">
            <div class="player_wrapper">
                <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="400" height="320" id="utv226502"><param name="flashvars" value="autoplay=false&amp;brand=embed&amp;cid=5354189&amp;locale=en_US"/><param name="allowfullscreen" value="true"/><param name="allowscriptaccess" value="always"/><param name="movie" value="http://www.ustream.tv/flash/live/1/5354189"/><embed flashvars="autoplay=false&amp;brand=embed&amp;cid=5354189&amp;locale=en_US" width="400" height="320" allowfullscreen="true" allowscriptaccess="always" id="utv226502" name="utv_n_254625" src="http://www.ustream.tv/flash/live/1/5354189" type="application/x-shockwave-flash" /></object>
            </div>

            <ul class="playlist">{% spaceless %}
                <li class="odd">
                    <a class="control play"></a>
                    <span class="track">Reamones - Supergirl<q></q><span class="progress"><span style="width:32%;"></span></span></span>
                    <a class="control delete"></a>
                    <span class="duration">3:51</span>
                </li>
                <li class="even">
                    <a class="control play"></a>
                    <span class="track">Hello from Dmitry<q></q></span>
                    <a class="control delete"></a>
                    <span class="duration">0:15</span>
                </li>
                <li class="odd">
                    <a class="control play"></a>
                    <span class="track">Crystal Castles - Alice Practice<q></q></span>
                    <a class="control delete"></a>
                    <span class="duration">2:44</span>
                </li>
                <li class="even">
                    <a class="control play"></a>
                    <span class="track">Archive - You Make Me Feel<q></q></span>
                    <a class="control delete"></a>
                    <span class="duration">4:05</span>
                </li>
                <li class="odd">
                    <a class="control play"></a>
                    <span class="track">Rammstein - Asche Zu Asche [Volkerball live]<q></q></span>
                    <a class="control delete"></a>
                    <span class="duration">4:05</span>
                </li>
                <li class="even">
                    <a class="control play"></a>
                    <span class="track">Bach - Air<q></q></span>
                    <a class="control delete"></a>
                    <span class="duration">2:01</span>
                </li>
                <li class="odd">
                    <a class="control play"></a>
                    <span class="track">Cannibal Corpse - Hammer Smashed Face<q></q></span>
                    <a class="control delete"></a>
                    <span class="duration">7:18</span>
                </li>
                <li class="even">
                    <a class="control play"></a>
                    <span class="track">Muse - Knights of Cydonia<q></q></span>
                    <a class="control delete"></a>
                    <span class="duration">6:06</span>
                </li>
                <li class="odd">
                    <a class="control play"></a>
                    <span class="track">Queen - Great King Rat<q></q></span>
                    <a class="control delete"></a>
                    <span class="duration">5:55</span>
                </li>
                <li class="even">
                    <a class="control play"></a>
                    <span class="track">Elvis Presley - Don't Be Cruel<q></q></span>
                    <a class="control delete"></a>
                    <span class="duration">2:03</span>
                </li>
                <li class="odd">
                    <a class="control play"></a>
                    <span class="track">Dj Tiesto - Traffic<q></q></span>
                    <a class="control delete"></a>
                    <span class="duration">5:24</span>
                </li>
                <li class="even">
                    <a class="control play"></a>
                    <span class="track">Hadouken - M.A.D.<q></q></span>
                    <a class="control delete"></a>
                    <span class="duration">3:24</span>
                </li>
                <li class="odd">
                    <a class="control play"></a>
                    <span class="track">Bach - Fur Elise<q></q></span>
                    <a class="control delete"></a>
                    <span class="duration">0:21</span>
                </li>
                <li class="even">
                    <a class="control play"></a>
                    <span class="track">The Prodigy - Omen<q></q></span>
                    <a class="control delete"></a>
                    <span class="duration">3:36</span>
                </li>
            {% endspaceless %}</ul>

            <div class="upload_controls">
                <a class="upload"></a><a class="rec"></a>
            </div>

        </div>

        <div id="layout_footer">
            &copy; 2010, Anatoly Larin, Dmitry Medvinsky, Vladimir Lyukov.
        </div>
    </div>
</body>
</html>