<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />

    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="/css/reset.css" type="text/css" />
    <link rel="stylesheet" href="/css/base.css" type="text/css" />
    <link rel="stylesheet" href="/css/uploadify.css" type="text/css" />
    <link rel="stylesheet" href="/css/print.css" type="text/css" />
    
    <script type="text/javascript" src="/js/jquery-1.4.2.js"></script>
    <script src="/js/jquery.timeago.js" type="text/javascript"></script>
    <script type="text/javascript" src="/js/swfobject.js"></script>
    <script type="text/javascript" src="/js/jquery.jplayer.js"></script>
    <script type="text/javascript" src="/js/jquery.uploadify.v2.1.0.js"></script>
    <script type="text/javascript" src="/js/base.js"></script>

    <title>{%block title %}Voices in the head{% endblock %}</title>
</head>
<body>
    <div id="layout_main">
        <div id="layout_header"><a href="/" class="logo"></a><div class="info">Online user generated radio, broadcasted to a chosen one with webcam.</div>
        </div>

        <div id="layout_content">
            <div class="player_wrapper">
                <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="400" height="320" id="utv226502"><param name="flashvars" value="autoplay=false&amp;brand=embed&amp;cid=5354189&amp;locale=en_US"/><param name="allowfullscreen" value="true"/><param name="allowscriptaccess" value="always"/><param name="movie" value="http://www.ustream.tv/flash/live/1/5354189"/><embed flashvars="autoplay=false&amp;brand=embed&amp;cid=5354189&amp;locale=en_US" width="400" height="320" allowfullscreen="true" allowscriptaccess="always" id="utv226502" name="utv_n_254625" src="http://www.ustream.tv/flash/live/1/5354189" type="application/x-shockwave-flash" /></object>
            </div>
            
            <div class="playlist_wrapper" id="js_playlist_wrapper">
                <div class="ajax_loader"></div>
                <ul class="playlist" id="js_playlist"></ul>
            </div>

            <div id="now_playing"></div>

            <div class="upload_controls">
                <a id='btn_upload' class="upload"></a><a class="rec"></a>
            </div>
            
            <a href="http://twitter.com/inthehead" title="tweet us!"><img class="tweetus" src="/imgs/tweetus.png"></img></a>
            <li class="tweets" id="js_tweets">
            </li>
        </div>

        <div id="layout_footer">
            &copy; 2010, <a href="http://e-legion.com">e-Legion ltd.</a>, Anatoly Larin, Dmitry Medvinsky, Vladimir Lyukov.
            <div id="jquery_jplayer"></div>
        </div>
    </div>
</body>
</html>
